*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #e8dfca;
  height: 100vh;
  color: rgb(41, 41, 41);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/* NAVBAR */
nav a {
  text-decoration: none;
  display: block;
  color: rgba(144, 38, 38, 0.742);
}

nav a:hover {
  color: rgb(144, 38, 38);
}

nav a h1 {
  color: black;
  letter-spacing: -2px;
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  margin: 10px auto;
}

.nav-flex {
  display: flex;
  gap: 2rem;
}

/* HOME */
.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.663), rgba(0, 0, 0, 0.482)),
    url("https://img.freepik.com/free-vector/cats-doodle-pattern-background_53876-100663.jpg?w=1380&t=st=1684258564~exp=1684259164~hmac=ed1988f74bf9b5bd77f11a927bc1877ac589c72e55872757ee17139a2c991571");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  max-width: 700px;
  max-height: 400px;
  padding: 20px 40px;
  background-color: transparent;
  margin: 0 20px;
}

.home-container a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 8px 12px;
  border: 0;
  font-weight: 800;
  font-size: 19px;
  text-transform: capitalize;
  outline: 0;
  color: rgba(254, 230, 230, 0.993);
  background-color: rgb(219, 155, 37);
  border-radius: 2px;
  cursor: pointer;
  transition: letter-spacing 100ms ease-in-out;
}

.home-container a:hover {
  background-color: rgba(255, 166, 0, 0.732);
  color: rgba(0, 0, 0, 0.79);
  letter-spacing: 1px;
}

.home h1,
.home p {
  color: white;
}

/* FOOTER */

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

footer h3 {
  font-size: small;
}

/* ABOUT */

.page,
.about-page-container {
  margin: 0 auto;
}

.about-page-container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.about-page-content {
  background-color: #ececee;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.about-page-content p {
  margin-top: 30px;
}

.about-page-cta {
  background-color: #e17554b5;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 20px 0;
}

.about-page-content h1 {
  margin-bottom: 20px;
}

.link-button {
  background-color: #8a5e05;
  color: white;
  margin-top: 20px;
}

/*** VAN PAGES - CAT ***/
.van-list-container {
  padding-inline: 23px;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 17px;
}

@media (min-width: 720px) {
  .van-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.van-tile {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
  border-radius: 10px;
  background-color: #ffffff74;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

/* VAN DETAILS */
.van-container {
  width: 100%;
  padding: 0 20px;
  height: 100vh;
  /* margin-bottom: 35px; */
  display: flex;
  /* flex-direction: colum; */
  justify-content: center;
  align-items: center;
}

.van-container,
.host-van {
  display: flex;
  max-height: 50vh;
  flex-direction: column;
}

.van-container a {
  align-self: flex-start;
  margin-bottom: 10px;
}

.van-box {
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  gap: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 1rem;
}

.van-image {
  max-width: 600px;
  width: 100%;
}

.van-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.van-details h1 {
  margin: 0;
}

.van-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

@media (max-width: 840px) {
  .van-box {
    display: flex;
    flex-direction: column;
    max-width: 85vw;
    align-items: flex-start;
  }

  .van-image {
    max-width: 350px;
    max-height: 250px;
    width: 100%;
    background-size: cover;
  }

  .host-van .van-image {
    max-width: 200px;
  }
  .host-van {
    margin-bottom: 0;
    margin-top: 40px;
  }
}

/* --------VAN FILTER-------- */
.filter-div {
  display: flex;
  background-color: #fdfeeb;
  min-width: 300px;
  max-width: 500px;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 10px;
}
.filter-div div {
  display: flex;
}
.filter-div h4 {
  font-size: clamp(1rem, 3vw, 1.4rem);
}
.filter-div a,
.filter-div button {
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-size: clamp(6px, 2vw, 12px);
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #8a5e05;

  /* background-color: #d3542da3; */
  background: transparent;
  text-transform: uppercase;

  border-radius: 2px;
  margin-left: 12px;
  border: 0.8px solid black;
}

.filter-div .selected {
  background-color: #e17654;
  border: 2px solid black;
  color: white;
}

.filter-div .clear {
  background-color: transparent;
  color: #8a5e05;
  border: 1px solid black;
}

@media (max-width: 400px) {
  .filter-div h4 {
    display: none;
  }

  .van-list {
    grid-template-columns: 1fr;
  }
}

h1 {
  font-size: clamp(2rem, 7vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1rem, 5vw, 2rem);
}

.van-tile p {
  margin-bottom: 10px;
}

p {
  font-size: clamp(0.4rem, 6vw, 1.1rem);
}

/* HOST */

.host-nav-flex {
  margin-top: 20px;
  gap: 10px;
  /* flex-wrap: wrap; */
}

.host-link {
  color: white;
  background-color: rgba(0, 0, 0, 0.71);

  padding: 4px 8px;
  font-size: 12px;
  border-radius: 2px;
  letter-spacing: 1px;
}

.host-link:hover,
.host-link:active {
  color: black;
  background-color: #e17654;
}

/* VAN LISTED */
.van-host-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.van-card {
  background-color: #ffffff9c;
  width: 100%;
  margin: 15px 0;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

.van-host-container a {
  text-decoration: none;
  color: #161616;
}

.van-card img {
  width: 100px;
}

.det {
  /* max-width: 150px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.page-container {
  padding: 1.2rem;
  /* padding-bottom: 0; */
}

.page-container .individual {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.page {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  padding-bottom: 0;
  max-width: 1100px;
}

.van-list-container {
  margin-top: 40px;
}

h1 {
  margin: 0;
}

.logo {
  font-size: clamp(18px, 5vw, 48px);
}

/* ----------HELI IMG ---------- */
.heli-container {
  width: 100%;
  height: 100%;
}

.heli-center {
  /* margin: 0 auto; */
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff9c;
  border-radius: 12px;
  margin-top: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.heli-image-container {
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  border-radius: 12px;
}

.heli-details {
  flex-grow: 2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heli-end {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 680px) {
  .heli-center {
    flex-direction: column;
    padding: 0.8rem;
  }
}
