*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  box-sizing: border-box;
  background-color: #f0edd4;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/* NAVBAR */
nav a {
  text-decoration: none;
  display: block;
  color: rgba(144, 38, 38, 0.742);
}

nav a:hover {
  color: rgb(144, 38, 38);
}

nav a h1 {
  color: black;
  letter-spacing: -2px;
}

nav {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-flex {
  display: flex;
  gap: 2rem;
}

/* HOME */
.home {
  height: calc(100vh - (14.95px + 105.85px + 20px));
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1682685797208-c741d58c2eff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;

  background-repeat: no-repeat;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 700px;
  padding: 20px 40px;
}

.home-container a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 8px 12px;
  border: 0;
  outline: 0;
  color: rgb(254, 230, 230);
  background-color: rgba(255, 166, 0, 0.751);
  border-radius: 2px;
  cursor: pointer;
}

.home-container a:hover {
  background-color: rgba(255, 166, 0, 0.529);
  color: black;
}

.home h1,
.home p {
  color: white;
}

/* FOOTER */
footer {
  width: 100%;
  background-color: rgb(44, 44, 44);
  color: rgb(203, 203, 203);
  text-align: center;
  padding: 10px;
}

footer h3 {
  font-size: small;
}

/* ABOUT */
.about-page-container .about-hero-image {
  max-width: 100%;
}

.image-container {
  width: 100vw;
  height: 200px;
  overflow: hidden;
  padding: 20px;
}

.about-hero-image {
  background-attachment: fixed;
  background-position: center bottom;
}

.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
}

.about-page-content h1 {
  line-height: 38px;
}

.about-page-content p {
  line-height: 22px;
}

.about-page-cta {
  background-color: #ffcc8d;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/*** VAN PAGES ***/
.van-list-container {
  padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

@media (min-width: 720px) {
  .van-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.van-tile a {
  color: #161616;
  text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

/* VAN DETAILS */
.van-container {
  width: 100%;
  padding: 0 20px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.van-box {
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #fff; */
  gap: 20px;
}

.van-image {
  max-width: 600px;
  width: 100%;
}

.van-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.van-details h1 {
  margin: 0;
}

.van-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 200px;
}

@media (max-width: 840px) {
  .van-box {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
    align-items: flex-start;
  }
  .van-image {
    max-width: 350px;
    max-height: 250px;
    width: 100%;
    background-size: cover;
  }
}

h1 {
  font-size: clamp(2rem, 7vw, 3rem);
}

h2 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

h3 {
  font-size: clamp(1rem, 5vw, 2rem);
}

p {
  font-size: clamp(0.4rem, 6vw, 1.1rem);
}

/* HOST */

.host-nav-flex {
  margin-top: 20px;
}

.host-link {
  color: white;
  background-color: rgba(0, 0, 0, 0.71);

  padding: 4px 8px;
  font-size: 16px;
  border-radius: 2px;
  letter-spacing: 1px;
}

.host-link:hover,
.host-link:active {
  color: white;
  background-color: black;
}

.page-container {
  padding: 1.2rem;
}

.page {
  margin: 0 auto;
  padding: 2rem 1.5rem;
  max-width: 1200px;
}

h1 {
  margin: 0;
}
